<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>AutoJudge</title>
</head>
<body>

    <h1>AutoJudge</h1>
    <p>Paste a programming problem description below:</p>

    <form method="POST">
        <textarea name="problem_text" required class="problem"></textarea><br>
        <textarea name="input_text" required class="input"></textarea><br>
        <textarea name="output_text" required class="output"></textarea><br>
        <button type="submit">Predict</button>
    </form>

    {% if prediction_class %}
        <div class="result">
            <p><strong>Predicted Difficulty:</strong> {{ prediction_class }}</p>
            <p><strong>Predicted Score:</strong> {{ prediction_score }}</p>
        </div>
    {% endif %}

</body>
</html>
